.rainbow {
  display: flex;
  height: 97vh;
  justify-content: center;
  align-items: center;
}

.rainbowBox {
  height: 500px;
  width: 500px;
  overflow: hidden;
  border: 3px solid black;
  position: relative;
  min-width: 500px;
}

#rainbowTunnel {
  height: 500px;
  position: relative;
}

#rainbowTunnel2 {
  position: absolute;
  height: 500px;
}

#whiteSquare {
  position: absolute;
  top: 10px;
  z-index: 2;
  top: 220px;
  left: 220px;
  height: 60px;
}
