.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  top: 15px;
  display: flex;
  justify-content: space-evenly;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  /*overflow: hidden;*/
  width: 100vw;
}

/*https://stackoverflow.com/questions/21003535/anyway-to-
prevent-the-blue-highlighting-of-elements-in-chrome-when-clicking-quic/30319808*/
#introImage, li a, br,
#campanile_container,
.projectImageContainer  {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

li a {
  font-family: "Avenir", sans-serif;
  font-size: 24px;
  text-decoration: none;
  color: #3B3B3B;
}

li a:hover {
  text-decoration: underline;
  color: #F29595;
}

p {
  font-family: "Avenir", sans-serif;
  font-size: 24px;
  line-height: 35px;
  color: #3B3B3B
}

strong {
  font-size: 32px;
}

strong::selection,
p::selection,
h1::selection {
  color: #F29595;
}

.intro {
  width: 100%;
  top: 150px;
}

#introImage {
  width: 170%;
  height: auto;
  position: relative;
  right: 63px;
  transition: all .4s ease-in-out;
}

#introImage:hover {
  transform: scale(1.1, 1.1);
  transition: all .4s ease-in-out;
}

.introImageContainer {
    width: 350px;
    height: 550px;
    overflow: hidden;
    position: relative;
    left: 100px;
    bottom: 40px;
}

.introTextContainer {
  width: 50%;
  position: absolute;
  top: 80px;
  left: 10vw;
  padding: 15px 15px 15px 40px;

}

.projectContainer {
  position: relative;
  top: 50px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

}

#colorhist,
#placeholderProj {
  width: 68vw;
  position: relative;
  right: 5px;
  bottom: 20px;
  transition: all .4s ease-in-out;
}

#colorhist:hover,
#placeholderProj:hover {
  transform: scale(1.15, 1.15);
  transition: all .4s ease-in-out;
}

.projectImageContainer {
  height: 27vw;
  width: 65vw;
  overflow: hidden;
  transition: all .4s ease-in-out;
}

.projectImageContainer:hover {
  transform: scale(0.95, 0.95);
  transition: all .4s ease-in-out;
}

h1 {
  font-family: "Avenir", sans-serif;
  font-size: 40px;
  color: #4A4A4A;
}

#campanile_bw {
  height: 700px;
  position: relative;
  right: 100px;
}

#campanile_container {
  position: absolute;
  height: 600px;
  width: 250px;
  overflow: hidden;
  top: 100px;
  right: 100px;
}
