.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  top: 15px;
  display: flex;
  justify-content: space-evenly;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  /*overflow: hidden;*/
  width: 100vw;
}

/*https://stackoverflow.com/questions/21003535/anyway-to-
prevent-the-blue-highlighting-of-elements-in-chrome-when-clicking-quic/30319808*/
#introImage, li a, br,
#campanile_container,
.projectImageContainer,
.light {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

li a {
  font-family: "Avenir", sans-serif;
  font-size: 24px;
  text-decoration: none;
  color: #3B3B3B;
}

li a:hover {
  text-decoration: underline;
  color: #F29595;
}

p {
  font-family: "Avenir", sans-serif;
  font-size: 24px;
  line-height: 35px;
  color: #3B3B3B
}

strong {
  font-size: 32px;
}

strong::selection,
p::selection,
h1::selection {
  color: #F29595;
}

.intro {
  width: 100%;
  top: 150px;
}

#introImage {
  width: 170%;
  height: auto;
  position: relative;
  right: 63px;
  transition: all .4s ease-in-out;
}

#introImage:hover {
  transform: scale(1.1, 1.1);
  transition: all .4s ease-in-out;
}

.introImageContainer {
    width: 350px;
    height: 550px;
    overflow: hidden;
    position: relative;
    left: 100px;
    bottom: 40px;
}

.introTextContainer {
  width: 50%;
  position: absolute;
  top: 80px;
  left: 10vw;
  padding: 15px 15px 15px 40px;

}

h1 {
  font-family: "Avenir", sans-serif;
  font-size: 40px;
  color: #4A4A4A;
  margin: 30px 0 0 0;
}

#campanile {
  height: 700px;
  position: relative;
  right: 100px;
  filter: grayscale(100%);
}

#campanile_container {
  position: absolute;
  height: 600px;
  width: 250px;
  overflow: hidden;
  top: 100px;
  right: 100px;
}

/*********
PROJECTS
*********/

.projectContainer {
  position: relative;
  top: 50px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#colorhist,
#notebook,
#placeholderProj,
#extras {
  width: 70vw;
  position: relative;
  transition: all .4s ease-in-out;
}

#colorhist {
  bottom: 30px;
}

#extras {
  position: relative;
  width: 80vw;
  right: 40px;
  bottom: 500px;
}

#colorhist:hover,
#notebook:hover,
#placeholderProj:hover,
#extras:hover {
  transform: scale(1.15, 1.15);
  transition: all .4s ease-in-out;
}

.projectImageContainer {
  height: 27vw;
  width: 70vw;
  overflow: hidden;
  transition: all .4s ease-in-out;

}

.projectImageContainer:hover {
  transform: scale(0.95, 0.95);
  transition: all .4s ease-in-out;

}

/***********
RAINBOW.HTML
***********/

.squareProject {
  display: flex;
  height: 95vh;
  justify-content: center;
  /*border: 5px solid red;*/
  position: relative;
}

#rainbowBox {
  height: 500px;
  width: 500px;
  overflow: hidden;
  position: absolute;
  min-width: 500px;
}

#rainbowTunnel {
  height: 500px;
  position: relative;
}

#rainbowTunnel2 {
  position: absolute;
  height: 500px;
}

#whiteSquare {
  position: absolute;
  top: 10px;
  z-index: 2;
  top: 220px;
  left: 220px;
  height: 60px;
}

/***********
LIGHTS.HTML
***********/

#lightBox {
  height: 500px;
  width: 500px;
  overflow: hidden;
  position: relative;
  min-width: 500px;

  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#lightInstructions {
  color: white;
  font-family: Courier, Times, serif;
  background-color: black;
  padding: 5px;
  z-index: 1;
}

/***********
carouselContainer.HTML
***********/

.carousel {
  position: relative;
  height: 500px;
  width: 500px;
  margin: 0 auto;
  top: 50px;

}

.carouselImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carouselTrackContainer {
  background: lightgreen;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carouselTrack {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
}

.carouselSlide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carouselButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.carouselButton--left {
  left: -30px;
}

.carouselButton--right {
  right: -30px;
}

.carouselNav {
  /*background: pink;*/
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.carouselIndicator {
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: rgba(0, 0, 0, 0.3);
  margin: 0 10px;
  cursor: pointer;
}

.carouselIndicator.current-slide {
  background: rgba(0, 0, 0, 0.75);
}

.is-hidden {display: none;}
